<?xml version="1.0" encoding="UTF-8"?>

<!--To samo co w servlet-context. Nie wiem co powinno być tutaj konkretnie...-->

<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
 xmlns:context="http://www.springframework.org/schema/context"
 xsi:schemaLocation="
 http://www.springframework.org/schema/mvc 
 http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
 http://www.springframework.org/schema/beans 
 http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
 http://www.springframework.org/schema/context 
 http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <context:component-scan base-package="com.mycompany" /><!-- Automatycznie obsluguje klasy z adnotacjami w tym pakiecie -->
    <context:annotation-config /> <!-- To na przyszłość, pozwoli nam korzystać z adnotacji także w klasach, które byśmy skonfigurowali ręcznie -->
    <mvc:annotation-driven/>
     <!--mvc:view-controller path="/" view-name="stronaRejestracji"/-->  

<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"><!--Tworzenie nowego beana tej klasy-->
    <property name="prefix">
        <value>/WEB-INF/views/</value><!--Tutaj znajduja sie widoki-->
    </property>
    <property name="suffix">
        <value>.jsp</value><!--A takie maja rozszerzenie.-->
        <!--Jesli kontroler zazada widoku "HHHH" to Spring da mu plik /WEB-INF/views/HHHH.jsp-->
    </property>
</bean>


</beans>